@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.App{
min-height: 100vh;
background-image: url('https://cdn.pixabay.com/photo/2019/04/02/04/32/masala-4096891_1280.jpg');
background-repeat: no-repeat;
transition: 0.5s ease;
background-size: cover;

}

.no-bg{
  background-color: rgb(233, 245, 255);
  height: max-content;
}

.form{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
  
}

.search-bar{
  font-family: 'Nanum Gothic Coding', monospace;
  width: 25%;
  height: 4vh;
  padding: 10px;
  outline: none;
  border-radius: 6px;
  border: 2px solid rgba(181, 221, 253, 0.5);
}

.title{
  font-size: calc(16px + 1.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  font-family: 'Raleway', sans-serif;  
  color: black;
  font-weight: 600;
  position: absolute;
  margin: auto;
  padding: auto;
}
button{
  height: 50px;
  border: 2px solid rgba(181, 221, 253, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
  margin-right: 5%;
  font-family: 'Raleway', sans-serif;  
  font-weight: 600;
  background-color: rgb(224, 212, 212);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.no-title{
  display: none;

}