@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.form{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
input{
  font-family: 'Nanum Gothic Coding', monospace;
}
.search-bar{
  width: 30%;
  height: 4vh;
  border: none;
  padding: 10px;
  outline: none;
}

.title{
  font-size: calc(18px + 3vw);
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  color: rgba(0, 0, 0, 0.7);
}
button{
  height: 48px;
  border: none;
  padding: 10px;
  margin: 4px;
  margin-right: 5%;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

